@import "tailwindcss";

:root {
  --white: #ffffff;
  --black: #171717;
}

html {
  background: var(--white);
  color: var(--black);
}

html,
body {
  @apply w-full h-full;
}

/* 선택적으로 적용할 수 있는 폰트 클래스 */
.font-yeoleum {
  font-family: var(--font-yeoleum), ui-sans-serif, system-ui, -apple-system,
    Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}
.font-suite {
  font-family: "SUITE", ui-sans-serif, system-ui, -apple-system, Segoe UI,
    Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}
@font-face {
  font-family: "SUITE";
  font-weight: 300;
  src: url("/fonts/SUITE-Light.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SUITE";
  font-weight: 400;
  src: url("/fonts/SUITE-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SUITE";
  font-weight: 500;
  src: url("/fonts/SUITE-Medium.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SUITE";
  font-weight: 600;
  src: url("/fonts/SUITE-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SUITE";
  font-weight: 700;
  src: url("/fonts/SUITE-Bold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SUITE";
  font-weight: 800;
  src: url("/fonts/SUITE-ExtraBold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SUITE";
  font-weight: 900;
  src: url("/fonts/SUITE-Heavy.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

h1 {
  @apply font-bold;
}
h2 {
  @apply font-bold;
}
h3 {
  @apply font-bold;
}
p {
  @apply font-normal;
}
