@import "tailwindcss";

:root {
  --white: #ffffff;
  --black: #171717;
  --gray: #adaaa9;
}

html {
  background: var(--white);
  color: var(--black);
  font-size: 16px;
  font-family: var(--font-suite), ui-sans-serif, system-ui, -apple-system,
    Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: 600;
}

html,
body {
  @apply w-full h-full break-keep;
}

/* 선택적으로 적용할 수 있는 폰트 클래스 */
.font-yeoleum {
  font-family: var(--font-yeoleum), ui-sans-serif, system-ui, -apple-system,
    Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}
.font-suite {
  font-family: var(--font-suite), ui-sans-serif, system-ui, -apple-system,
    Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}

h1 {
  @apply font-bold text-[20px] leading-[1.34];
}
h2 {
  @apply font-bold text-[16px] leading-[1.34];
}
h3 {
  @apply font-bold text-[14px] leading-[1.34];
}
p {
  @apply font-semibold text-[14px] leading-[1.64] break-keep;
}
a {
  @apply cursor-pointer;
}

/* input 초기화 */
input {
  @apply outline-none;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(35, 25, 22, 0.45);
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(35, 25, 22, 0.65);
}

*::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}