@import "tailwindcss";

:root {
  --white: #ffffff;
  --black: #171717;
}

html {
  background: var(--white);
  color: var(--black);
}

html,
body {
  @apply w-full h-full;
}

/* 선택적으로 적용할 수 있는 폰트 클래스 */
.font-yeoleum {
  font-family: var(--font-yeoleum), ui-sans-serif, system-ui, -apple-system,
    Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}
.font-suite {
  font-family: var(--font-suite), ui-sans-serif, system-ui, -apple-system,
    Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}

h1 {
  @apply font-bold;
}
h2 {
  @apply font-bold;
}
h3 {
  @apply font-bold;
}
p {
  @apply font-normal;
}
