name: deploy-2025-exhibition

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - name: Install
        run: npm ci

      - name: Build (static export)
        run: npm run build

      - name: Upload via SFTP
        uses: wlixcc/SFTP-Deploy-Action@v1.2
        with:
          server: ${{ secrets.CAFE24_HOST }}
          username: ${{ secrets.CAFE24_USER }}
          ssh_private_key: ${{ secrets.CAFE24_SSH_KEY }}
          # Todo : sshKey 수정 필요
          local-dir: out/
          server-dir: /www/2025_graduation_exhibition/
